DATABASE_URL=postgresql://admin:password@localhost:5432/file_hub
REDIS_URL=redis://localhost:6379/0

# JWT & Security
SECRET_KEY=supersecretkey_change_in_production
ACCESS_TOKEN_EXPIRE_MINUTES=30

# MinIO / S3
AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=password123
AWS_REGION=us-east-1
S3_ENDPOINT_URL=http://localhost:9000
S3_BUCKET_NAME=filehub-bucket
